# Python
__pycache__/
*.pyc

# Django
*.sqlite3
staticfiles/
*.log

# Environment
.env
env/
venv/
.venv/

# Data & training artifacts (do NOT commit raw data)
data/
models/

# IDE junk
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
